.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: #2196F3;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }