<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="IndepthStyle.css">
    <meta charset="utf-8" />
    <title></title>
</head>

<body>

    <div id="app">
        <div class="info">
            <div class="image column">
                <img class="img" :src=url />
            </div>
            <div class="column textinfo">
                <br>
                <span><b>Tags:</b></span>
                <br>


                <select @change="select" v-model="selector" size="5">
                    <option v-for="tag in tags">{{tag}}</option>
                </select>
                <br><br>
                <span><b>Add Tags:</b></span><br />
                <input v-model="TagText" type="text" placeholder="new tag" /><br>
                <button v-on:click="addTag()" type="button"> Add Tag</button>
                <br>
                <br>
                <span><b>Author of image: </b></span>
                <p class="infoText">{{author}}</p>
                <br>

                <span><b>Add author to image</b></span><br>
                <input v-model="AuthorText" type="text" placeholder="Author"><br>
                <button v-on:click="addAuthor">Add author to this image</button>
                <br><br>

                <span><b>Location of image:</b></span>
                <p class="infoText">{{LocName}}</p>
                <br>
                <span><b>Add Location To Image</b></span><br>
                <input type="text" placeholder="New Location" v-model="LocText"><br>
                <button v-on:click="addLocation">Submit Location</button>
                <br>
                <button v-on:click="download">download</button>
                <br>
                <button v-on:click="delImage">DELETE IMAGE</button>
                <br>
                <button v-on:click="closeWindow">Back</button>
            </div>

        </div>

    </div>

    <script src="indepthScript.js"></script>
</body>

</html>