input[type=text], select {
    width: auto;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

span{
    color: #2196F3;
    width: auto;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


button {
    width: auto;
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover{
    transform: scale(1.02);
      background-color: #43a5f5;
  }
  
  input:hover{
    background-color: #2196F3;
}

input:focus{
    background-color: #2196F3;
    outline: transparent;
}